layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zjstatus"
    }
  }

  tab name="edit" focus=true {
    pane {
      command "direnv"
      args "exec" "." "hx"
    }
  }

  tab name="run" {
    pane split_direction="horizontal" {
      pane
      pane {
        cwd "/var/folders/tt/kygkt3t13gqd68q5rz6ly7pw0000gn/T/zellij-501"
      }
    }
  }

  tab name="git" {
    pane
  }
}
