[package]
name = "zjstatus"
version = "0.19.1"
authors = ["Daniel Jankowski"]
edition = "2018"

[[bin]]
name = "zjstatus"
bench = false

[[bin]]
name = "zjframes"
bench = false

[lib]
bench = false

[features]
bench = []
tracing = []

[dependencies]
zellij-tile = "0.41.2"
chrono = { version = "0.4.39", default-features = false }
regex = "1.11.1"
chrono-tz = "0.10.0"
anyhow = "1.0.94"
anstyle = "1.0.10"
uuid = { version = "1.11.0", features = ["v4"] }
lazy_static = "1.5.0"
cached = { version = "0.54.0", features = ["wasm"] }
console = "0.15.8"
tracing-subscriber = "0.3.19"
tracing = "0.1.41"
kdl = "4.7.0"
rstest = "0.23.0"
itertools = "0.13.0"

[dev-dependencies]
criterion = { version = "0.5.1", default-features = false, features = [
    "html_reports",
] }

[[bench]]
name = "benches"
harness = false

[[bench]]
name = "widgets"
harness = false
