[package]
name = "zjstatus"
version = "0.9.2"
authors = ["Daniel Jankowski"]
edition = "2018"

[dependencies]
zellij-tile = "0.39.0"
chrono = "0.4.0"
regex = "1.9.4"
strip-ansi-escapes = "0.2.0"
chrono-tz = "0.8.3"
anyhow = "1.0.75"
anstyle = "1.0.2"
uuid = { version = "1.4.1", features = ["v4"] }

[dev-dependencies]
criterion = { version = "0.5.1", default-features = false, features = ["html_reports"] }
divan = "0.1.7"

[[bench]]
name = "benches"
harness = false

[[bench]]
name = "widgets"
harness = false
