[package]
name = "zjstatus"
version = "0.13.1"
authors = ["Daniel Jankowski"]
edition = "2018"

[[bin]]
name = "zjstatus"
bench = false

[lib]
bench = false

[features]
bench = []
tracing = []

[dependencies]
zellij-tile = "0.40.0"
chrono = { version = "= 0.4.35", default-features = false } # wait for chrono-tz to resolve LocalResult -> TzResolution
regex = "1.10.0"
chrono-tz = "0.8.3"
anyhow = "1.0.75"
anstyle = "1.0.2"
uuid = { version = "1.6.1", features = ["v4"] }
lazy_static = "1.4.0"
cached = { version = "0.46.1", features = ["wasm"] }
console = "0.15.8"
tracing-subscriber = "0.3.18"
tracing = "0.1.40"

[dev-dependencies]
criterion = { version = "0.5.1", default-features = false, features = [
    "html_reports",
] }

[[bench]]
name = "benches"
harness = false

[[bench]]
name = "widgets"
harness = false

[patch.crates-io]
zelij-tile = { git = 'https://github.com/zellij-org/zellij', package = 'zellij-tile' }
