[package]
name = "zjstatus"
version = "0.13.1"
authors = ["Daniel Jankowski"]
edition = "2018"

[[bin]]
name = "zjstatus"
bench = false

[lib]
bench = false

[features]
bench = []

[dependencies]
zellij-tile = "0.39.0"
chrono = { version = "0.4.0", default-features = false }
regex = "1.10.0"
chrono-tz = "0.8.3"
anyhow = "1.0.75"
anstyle = "1.0.2"
uuid = { version = "1.6.1", features = ["v4"] }
lazy_static = "1.4.0"
cached = { version = "0.46.1", features = ["wasm"] }
console = "0.15.8"

[dev-dependencies]
criterion = { version = "0.5.1", default-features = false, features = ["html_reports"] }

[[bench]]
name = "benches"
harness = false

[[bench]]
name = "widgets"
harness = false
