layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane edit="src/main.rs"
        pane {
            pane stacked=true {
                pane size="10%" command="bash" name="COMPILE AND RELOAD PLUGIN" {
                    args "-c" "watchexec 'cargo build && zellij action start-or-reload-plugin file:target/wasm32-wasi/debug/zjstatus.wasm'"
                }
                pane expanded=true {
                    plugin location="file:target/wasm32-wasi/debug/zjstatus.wasm" {
                        format "#[bold,italic]{mode} #[fg=255] :: {tabs} {space} #[fg=255,bg=0] {date} "

                        mode_normal  "#[fg=0,bg=3]>> {name} <<"
                        mode_tmux    "#[fg=255,bg=0]>> tmux <<"

                        tab_normal  "#[fg=255,bg=0] {name}"
                        tab_active  "#[fg=255,bg=0,bold] {name}"
                    }
                }
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
