layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=2 borderless=true {
        plugin location="file:target/wasm32-wasip1/debug/zjstatus.wasm" {
            color_blue   "#89B4FA"
            color_yellow "yellow"
            color_bg     "#181825"

            format_left               "{mode}#[fg=$blue,bg=$bg,bold] {session}"
            format_center             "{tabs} {command_3} {pipe_1}"
            format_right              "{notifications}{datetime}"
            format_space              "#[bg=$bg]"
            format_precedence         "lrc"
            format_hide_on_overlength "false"

            notification_format_unread "#[fg=$blue,bg=$bg,blink]  #[fg=$blue,bg=$bg] {message} "
            notification_format_no_notifications "#[fg=$blue,bg=$bg,dim]   "
            notification_show_interval "10"

            pipe_1_format "#[fg=red] {output}"

            border_enabled  "true"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            swap_layout_format        "#[bg=blue,fg=#000000] {name} #[bg=red,fg=black] foo "
            swap_layout_hide_if_empty "false"

            hide_frame_for_single_pane       "false"
            hide_frame_except_for_search     "false"
            hide_frame_except_for_fullscreen "false"
            hide_frame_except_for_scroll     "true"

            mode_normal          "#[bg=$blue] #[bg=yellow] "
            mode_tmux            "#[bg=$yellow] "
            mode_default_to_mode "tmux"

            tab_normal              "#[fg=#6C7086,bg=$bg] {index} {name} {floating_indicator} "
            tab_rename              "#[fg=#eba0ac,bg=$bg] {index} {name} {floating_indicator} "
            tab_normal_fullscreen   "#[fg=#6C7086,bg=$bg] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=$bg] {index} {name} <> "
            tab_active              "#[fg=#9399B2,bg=$bg,bold,italic] {index} {name} {floating_total_count}{floating_indicator}{sync_indicator}{fullscreen_indicator}"
            tab_separator           "#[fg=#6C7086,bg=$bg] | "
            tab_floating_indicator  "F"
            tab_sync_indicator      "S"
            tab_fullscreen_indicator "FS"
            tab_display_count       "3"
            tab_truncate_start_format "#[fg=$blue,bg=$bg]#[bg=$blue,fg=black] +{count} ... #[fg=$bg,bg=$blue]"
            tab_truncate_end_format "#[fg=red,bg=$bg] ... +{count} > #[bg=$yellow] "

            command_0_command      "echo \"平仮名, ひらがな 📦\""
            command_0_clickaction "bash -c \"zellij --session zjstatus-dev pipe 'zjstatus::notify::hello world!' -n zjstatus\""
            command_0_format       "#[fg=colour80] {exit_code} #[fg=colour90] {stdout} "
            command_0_interval     "1"

            command_1_command   "date"
            command_1_format    "#[fg=blue,reverse,bg=default,us=red,blink,dim,strikethrough] {exit_code} {stdout} "
            command_1_interval  "1"

            command_git_branch_command   "bash -c \"echo $FOO\""
            command_git_branch_cwd       "/Users/daniel"
            command_git_branch_env       {
                FOO "1"
                BAR "foo"
            }
            command_git_branch_format    "#[fg=red] {stdout} "
            command_git_branch_interval  "2"

            command_3_command   "echo -e \"#[fg=$yellow,italic,bold] foo #[dim,bold,italic] bar \""
            command_3_format    "{stdout}"
            command_3_interval  "10"
            command_3_rendermode "dynamic"

            datetime             "#[fg=#6C7086,bg=$bg,bold] {format} #[bg=#6C7086,fg=$bg,bold] {time}"
            datetime_time_format "%H:%M:%S"
            datetime_format      "%A, %d %b %Y %H:%M"
            datetime_timezone    "Europe/Berlin"
        }
    }
}
