layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:target/wasm32-wasi/debug/zjstatus.wasm" {
            format_left  "{mode}#[fg=black,bg=blue,bold]{session}  #[fg=blue,bg=#181825]{tabs}"
            format_right "{command_conky}#[fg=#9c86bf,bg=#DCD7BA]{datetime}"
            format_space "#[bg=#181825]"

            hide_frame_for_single_pane "true"

            mode_normal  "#[bg=blue]"
            mode_locked  "#[bg=red]"

            tab_normal              "#[fg=#181825,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index} {name} #[fg=#4C4C59,bg=#181825]"
            tab_normal_fullscreen   "#[fg=#6C7086,bg=#181825] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=#181825] {index} {name} <> "
            tab_active              "#[fg=#181825,bg=#ffffff,bold,italic]{index} {name} #[fg=#ffffff,bg=#181825]"
            tab_active_fullscreen   "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} <> "


            // TODO: set this path correctly to the absolute path to the conky.conf
            command_conky_command  "conky -i1 -c path/to/conky.conf"
            command_conky_format   "{stdout}"
            command_conky_interval "1"

            datetime          "#[fg=#000000,bg=#DCD7BA,nobold]{format}"
            datetime_format   "%d/%m %H:%M"
            datetime_timezone "Asia/Taipei"
        }
    }
}
