layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:target/wasm32-wasi/debug/zjstatus.wasm" {
            format_left  "#[fg=0,bg=10][{session}]  {tabs}"
            format_right "#[fg=0,bg=10]{datetime}"
            format_space "#[bg=10]"

            hide_frame_for_single_pane "true"

            tab_normal   "{index}:{name}  "
            tab_active   "{index}:{name}* "

            datetime          " {format} "
            datetime_format   "%H:%M %d-%b-%y"
            datetime_timezone "Europe/Berlin"
        }
    }
}
