---
on: push
name: Test & Lint

# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@4f647fc679bcd3b11499ccb42104547c83dabe96  # stable
        with:
          toolchain: '1.86.0'
          target: wasm32-wasip1
          components: clippy

      - name: Run Clippy
        uses: clechasseur/rs-clippy-check@23f6dcf86d7e4e0d98b000bba0bb81ac587c44aa  # v3
        with:
          args: --all-features --lib
          toolchain: '1.86.0'

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4
      - uses: jcbhmr/setup-wasmtime@960c367a99921eb0b02f5778fce9ae8f110bf0f0  # v2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@4f647fc679bcd3b11499ccb42104547c83dabe96  # stable
        with:
          toolchain: '1.86.0'
          target: wasm32-wasip1

      - name: Install cargo wasi
        run: cargo install cargo-wasi

      - name: Run tests
        run: cargo wasi test --lib -- --nocapture
