---
name: Release
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build-release:
    name: build-release
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v4
        with:
          fetch-tags: false  # https://github.com/actions/checkout/issues/1467

      - run: git fetch --tags --all --force && git pull origin ${{ github.ref }}  --unshallow --force
        name: Fetch tags manually as a workaround. See https://github.com/actions/checkout/issues/1467

      - name: Install Rust
        uses: dtolnay/rust-toolchain@4f647fc679bcd3b11499ccb42104547c83dabe96  # stable
        with:
          profile: minimal
          override: true
          toolchain: '1.87.0'
          target: wasm32-wasip1

      - name: Build release binary
        run: cargo build --release

      - name: Generate a changelog
        uses: orhun/git-cliff-action@d77b37db2e3f7398432d34b72a12aa3e2ba87e51  # v3
        id: git-cliff
        with:
          config: cliff.toml
          args: -vv --latest --strip header
        env:
          OUTPUT: CHANGES.md

      - name: Create release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          body: ${{ steps.git-cliff.outputs.content }}
          prerelease: false
          files: |
            ./target/wasm32-wasip1/release/zjstatus.wasm
            ./target/wasm32-wasip1/release/zjframes.wasm
